

/*.offset-cs-6{

}*/
/**/



@media (min-width: 769px) and (max-width: 991px) {


.ml-n9{
margin-right:   -700px;

}
}
.text_content{
	
	min-height: 1310px;
}

.conteiner_main_photo{
	position: relative;
	left: -99px;
}

.mx-md-cs{
	position: relative;
	left: -35px;
}

@media (min-width: 992px) and (max-width: 1200px) {


.ml-n8{
margin-right:  -700px;

}
};


/*Header*/

.logo{
	margin-top: 3px;
	margin-left: 30px;
}

.menu{
	margin-top: 25px;
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
}

.bg-header,.row{
	padding: 5px;

}


.bg-header{
	background-color: #eae8e9;
	height: 100px;

}



/*About*/

.about{
	height: 100px;
	background-color: #c8c10d;
	
	
	margin-top: 26px;
}

.about h1{
	margin-top: 15px;
color: #fff;
font-family: 'Lato Regular', sans-serif;
}

/*Main Photo*/



.conteiner_main_photo{
	margin-top: -0.5px;
	max-width:  1970px;
	overflow: hidden;
	height: 240px;
	background-color:#efefef;
	margin-left: 102px;
}



}
/*Загальний блокі main'a*/

.conteiner_main_text{
	margin-top: 40px;
		
}

/*Main Text*/

.text_content{
	
	height:  1000px;
	margin-left: 15.8px;
	font-family: 'Lato Regular', sans-serif;
font-family: 'Roboto', sans-serif;
	


}

/*Content*/

.text_content h3{
	color: #cb3362;
	padding-left: 50px;
	height: 52px;

}



/*Налаштування P(Параграфів)*/
.text_content p{
	padding-left: 50px;
	width: 720px;

}

.p_text_content_1{
	height: 70px;
	margin-top:   -55px;
}

.p_text_content_2{
	height: 50px;
	margin-top: -40px;
}

.p_text_content_3{
	margin-top:  -45px;
}

.p_text_content_4{
	margin-top:  -35px;
}

.p_text_content_5{
	margin-top:  -50px;
}

.p_text_content_6{
	margin-top:  -35px;
}



/*Силкі*/

.text_content a{
	color: #c3bc14;
	text-decoration: underline;
}


/*Sidebar*/

.sidebar{
	height: 803px;
	background-color: #efedee;
	align-items: center;
	font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;

}

.sidebar h1{
	padding-top: 40px;
	padding-left: -10px;
	color: #cb3362;
	text-align: center;
	line-height: 45px;
}

.sidebar span{
	line-height: 50.8px;
	text-align: center;
	padding-left: 0px;


}


.sidebar span a{
	color: #c3bc14;
	text-decoration: underline;
}

/*Footer*/

.footer{
	background-color:#cb3362;
	height: 265.5px;
	


}

.footer_content{
	margin-left: 620px;
	background-color: #cb3362;
	margin-top: 70px;
	height: 127px;
	align-items: center;
	padding-left: 210px;
}

.text_footer img{
	padding: 10px;
 



}

.text_footer p{
	padding-top: 10px;
	margin-left: -20px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}




